---
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: auto;
				display: flex;
				gap: 2rem;
			}
			.sidecard {
				width: 33%;
				font-family: var(--font-shantell-sans);
				padding: 1em;
				background: rgb(var(--gray-light));
				/* Rotate the sidecard 3 degrees counter-clockwise */
				transform: rotate(-8deg) skewX(-8deg);
				/* Add a subtle shadow to give it some depth */
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				/* Add a border to make it stand out more */
				border: 2px solid var(--accent);
			}
			.content {
				width: 67%;
			}
			table {
				width: 100%;
				border-collapse: collapse;
				margin: 0;
				padding: 0;
			}
			tbody tr {
				border: none;
			}
			td {
				padding: 0.5rem 0;
				border: none;
			}
			td:first-child {
				width: 70%;
			}
			td:last-child {
				width: 30%;
				text-align: right;
			}
			a {
				text-decoration: none;
				transition: 0.2s ease;
				color: rgb(var(--black));
			}
			a:hover {
				color: rgb(var(--accent));
			}
			.title {
				margin: 0;
				color: inherit;
				line-height: 1;
				display: inline;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			a:hover .date {
				color: rgb(var(--accent));
			}
			@media (max-width: 720px) {
				td:first-child {
					width: 65%;
				}
				td:last-child {
					width: 35%;
				}
			}
		</style>
	</head>
	<body>
		<main>
			<section class="sidecard">
				<h1>{SITE_TITLE}</h1>
				<p>{SITE_DESCRIPTION}</p>
			</section>
			<section class="content">
				<table>
					<tbody>
						{
							posts.map((post) => (
								<tr>
									<td>
										<a href={`/blog/${post.id}/`}>
											<h4 class="title">
												{post.data.title}
											</h4>
										</a>
									</td>
									<td>
										<p class="date">
											<FormattedDate
												date={post.data.pubDate}
												format="YYYY-MM-DD"
											/>
										</p>
									</td>
								</tr>
							))
						}
					</tbody>
				</table>
			</section>
		</main>
		<Footer />
	</body>
</html>
